*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.masthead{
    display: flex;
    justify-content: center;
    align-items: center;
}
.masthead img{
    height: 80px;
    width: 100%;
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 8px;
}
.blog-titles{
    padding: 8px;
}
#latest-titles{
    display: flex;
    flex-direction: column;
}
.latest-blog-title{
    cursor: pointer;
    padding: 8px 0;
}